<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" formControlName="Book_Name"
      aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
     <!-- <span class="text-danger" *ngIf="(x.Book_Name.touched && x.Book_Name.invalid)">
      Field is required
    </span>   -->
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" formControlName="Book_Name"
      aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
     <!-- <span class="text-danger" *ngIf="(x.Book_Name.touched && x.Book_Name.invalid)">
      Field is required
    </span>   -->
  </div>