<div class="container">
    <div class="row">
            <div class="header">
                <div class="title">
                    Confirmation
            </div>
        </div>
        <p>Are you sure to delete this?</p>
        <div class="action">
            <button  class="btn btn-danger"  (click)="btnOK()" color="warn" style="margin: 5px;">Delete</button>
            <button class="btn btn-info" (click)="onNoClick()" style="margin: 5px;">Cancel</button>
        </div>
        </div>
</div>