 
<section style="margin-top: 200px;" class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="signup">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3"><strong style="color: #252465;">KPN library</strong></p>
             
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0"> Sign Up</p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Email address</label>
            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" formControlName="Email" />
            <span *ngIf="x.Email.touched && x.Email.invalid" class="text-danger">Please enter valid email</span>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password"  formControlName="Password"/>
           
            <span *ngIf=" x.Password.invalid && (x.Password.touched || x.Password.dirty)" class="text-danger">Field is Required</span>
          </div>
          <div class="form-outline mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input formControlName="ConfirmPassword" placeholder="Confirm password" type="password" class="form-control" id="exampleInputPassword1" (keyup)="checkpassword()">
            <span class="text-danger" *ngIf="msg">Password doesn't match</span>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            
             
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" class="btn btn-primary btn-lg"
             (click) ="sign()" [disabled]="signup.invalid || !msg==false">SignUp</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a routerLink="/logIn"
                class="link-danger">Login</a></p>
          </div>
         
        </form>
      </div>
    </div>
  </div>
</section>